# Server
ENV=dev
PORT=3000
SECRET=my-secret-key
TRAEFIK_HOST=example.com.co

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DB_SYNC=false

# Redis
RD_HOST=localhost
RD_PORT=6379

# Microservices
MICROSERVICE_HOST=http://localhost:3030
MICROSERVICE_API_KEY=my-api-key
